<% if forecast %>
    <div class="forecast-result">
            <%= content_tag :span, "Cache", class: "badge-cache" if forecast[:cached] %>
        <div class="temp-main">
            <div class="weather-box">
                <p class="temp-value"><%= forecast[:temp] %>°</p>
                
                <%= content_tag :div, class: "temp-main-inner" do %>
                    <img src="<%= forecast[:weather][:icon] %>" alt="<%= forecast[:weather][:main] %>">
                    <p class="weather-main-text"><%= forecast[:weather][:main] %></p>
                <% end if forecast[:weather] %>
            </div>
        </div>

        <div class="details-grid">
            <div class="detail-item">
                <span>Min</span>
                <p><%= forecast[:low] %>°</p>
            </div>
            <div class="detail-item">
                <span>Max</span>
                <p><%= forecast[:high] %>°</p>
            </div>
        </div>
    </div>
<% else %>
<div class="empty-state">
    <p> It wasn't possible to fetch information for the specified location. </p>
</div>
<% end %>